fastapi
uvicorn
pydantic
pydantic[email]
email-validator
motor
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain
langchain-google-genai
langchain-community
google-generativeai
pinecone-client
httpx
requests
dateparser
langchain_pinecone
google_auth_oauthlib
argon2-cffi